﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PromocaoControle.ascx.cs" Inherits="WebAppJFF.Controle.PromocaoControle" %>
<div class="divControlePromocao">
    <asp:Image runat="server" ID="imgPromocao" CssClass="imagemControlePromocao" />
    <br />
    <asp:Label runat="server" ID="lblDescricao" CssClass="labelControlePromocao"></asp:Label>
</div>