﻿/* Gridster styles */
.subnav
{
  border: 1px solid #c0c0c0;
  background-color: rgb(247,247,247);
  padding: 5px 5px;
  height: 40px;
}
.gridster .player-revert
{
  z-index:0 !important;
}

.subnav .btn-link
{
  font-size: 16px;
  color: rgb(51, 51, 51);
  margin-left: -15px;
}

.gridster
{
  margin-top: 10px;
}

.gridster > *
{
  margin: 0;
}

.gridster ul, .gridster ol
{
  list-style: none;
}

.gridster .panel-heading
{
  overflow: hidden;
  cursor: move;
  padding: 5px 5px;
}

.gridster .panel-heading .row
{
  margin-left: 0px;
  margin-right: 0px;
}

.titleWidget
{
  cursor: move;
  padding-left: 0px;
  padding-right: 0px;
}
.titleWidget > label
{
  cursor: move;  
}
.toolbarWidget
{
  padding-left: 0px;
  padding-right: 0px;
}
.toolbarWidget .timeToolbar
{
  margin:0px;
}
.toolbarWidget .groupToolbar
{
  cursor: pointer;
  margin-top: -3px;
  display: none;
}

.gridster .panel-heading .row:hover > .toolbarWidget .timeToolbar
{
  display: none;
}
.gridster .panel-heading .row:hover > .toolbarWidget .groupToolbar
{
  display: inline-block;
}

.gridster .panel-heading .row:target > .toolbarWidget .timeToolbar
{
  display: none;
}
.gridster .panel-heading .row:target > .toolbarWidget .groupToolbar
{
  display: inline-block;
}

.gridster .panel-body
{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.gridster .panel
{
  height: 100%;
  padding-bottom: 60px;
}

.gridster .preview-holder
{
  position: absolute;
  background-color: #FFFFCC;
  border-color: #000;
  border: 1px dashed #000;
  opacity: 0.3;
}
.left-icon
{
  padding-right:5px;
  float:left !important;
}