﻿/**
 * Menu de Paginas do GED
 * Customização da navbar principal
 */
/* Navbar com cores default do sistema */
.navbar-inverse {
    background-color: #2f575d;
    border-color: #2f575d;
    margin-bottom: 0;
    z-index: 5;
}
@media (min-width: 768px) and (max-width: 991px)
{
    /* Reduz a fonte do menu-principal para resolucao Small */
    .menu-principal {
        font-size: 11px;
    }
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #6d9197;
    color: #fff;
}

/* Style para o menu responsivo aberto */
.navbar-inverse .navbar-collapse.collapse.in {
    background-color: #2f575d;
    color: #fff;
}
                                
/* Subnivel do menu principal - Ativamos o hover para abrir as dropdowns */
.navbar-collapse.collapse:not(.in) ul.nav.menu-principal li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.navbar-inverse .dropdown .dropdown-menu,
.navbar-inverse .dropdown .dropdown-menu > li > a {
    background-color: #2f575d;
    color: #ffffff;
}
.navbar-inverse .dropdown .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown .dropdown-menu > li > a:focus {
    background-color: #6d9197;
}

/* Navbar com altura default */
.navbar .navbar-brand {
    padding-bottom: 8px;
    padding-top: 8px;
}
.navbar .navbar-brand img {
    height: 32px;
}
.navbar .navbar-form {
    margin-top: 11px;
    margin-bottom: 11px;
}

/* Navbar com altura reduzida */
.navbar.navbar-sm {
    min-height: 40px;
    height: 40px;
}
.navbar.navbar-sm .navbar-toggle {
    border-top-width: 2px;
    margin-bottom: 2px;
    margin-top: 1px;
}
.navbar.navbar-sm .navbar-brand {
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    padding: 3px 5px;
    padding-left: 15px;
}
.navbar.navbar-sm .navbar-brand img {
    height: 32px;
}
.navbar.navbar-sm > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
    height: 39px;
}
.navbar.navbar-sm .navbar-nav > li > a {
    padding-bottom: 10.5px;
    padding-top: 10.5px;
}
.navbar.navbar-sm .navbar-form {
    margin-top: 5px;
    margin-bottom: 5px;
}

/**
 * Multi level dropdown menu
 * Fonte: http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
 * ********************************************************************************* */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
/* Habilita menu on hover (Apenas com o menu nao responsivo) - tire isso para mostrar apenas no clique */
@media (min-width: 768px)
{
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
}
/* Estilo para o menu qndo no formato responsivo */
@media (max-width: 767px)
{
    .dropdown-submenu > .dropdown-menu {
        display: block;
    }
  .dropdown-submenu > a {
      color: #28363D !important;
      background-color: #C4CDC1 !important;
  }
}
/* Alinha um caret na direita do menu com submenu */
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

/**
 * Componente Painel de Controle - Dashboard
 * Estilo para o botao no menu que ativa o painel de controle
 * ********************************************************************************* */
.menu-dashboard.dropdown > a.dropdown-toggle {
    padding: 11px 0;
}
.navbar.navbar-sm .menu-dashboard.dropdown > a.dropdown-toggle {
    padding: 5px 0;
}
.menu-dashboard .dropdown-menu {
    left: auto;
    right: -16px;
}
.menu-dashboard .dropdown-menu > li
{
    width: 750px;
}
.menu-dashboard.dropdown .dropdown-menu,
.menu-dashboard.dropdown .dropdown-menu > li,
.menu-dashboard.dropdown .dropdown-menu > li > a {
    background-color: #ffffff;
    color: #2f575d;
    font-size: 12px;
}
/* Desabilita o MouseOver no Menu Dashboard */
.navbar-collapse.collapse:not(.in) ul.nav .menu-dashboard.dropdown:hover > ul.dropdown-menu {
    display: none;
}
/* Habilita o Click no Menu Dashboard */
.navbar-collapse.collapse:not(.in) ul.nav .menu-dashboard.dropdown.open > ul.dropdown-menu {
    display: block;
}
/* Painel de usuario */
.usuario-container {
    margin-top: 5px;
}
.usuario-container .usuario-resumo {
    font-size: 11px;
    margin-bottom: 0;
}
/* Painel de controle */
.dashboard-container {

}
/* Painel de atalhos do usuario */
.atalhos-container {
    overflow-y: auto;
    max-height: 300px;
}

/**
 * Componente Menu Principal Unico
 * Estilo para o menu que abre em um unico botao
 * ********************************************************************************* */
.navbar-nav.menu-principal-unico .dropdown .dropdown-menu,
.menu-principal-unico .dropdown-menu > li,
.menu-principal-unico .dropdown-menu > li .menu-secundario,
.menu-principal-unico .dropdown-menu > li .menu-secundario ul,
.menu-principal-unico .dropdown-menu > li .menu-secundario ul > li
{
    background-color: #ffffff;
    color: #2f575d;
    font-size: 14px;
}
.menu-principal-unico .dropdown-menu > li
{
    width: 750px;
    height: 300px;
}
.menu-principal-unico .dropdown-menu > li .menu-primario ul,
.menu-principal-unico .dropdown-menu > li .menu-secundario ul
{
    list-style: outside none none;
    padding-left: 0;
}
.menu-principal-unico .dropdown-menu > li .menu-primario ul > li > a,
.menu-principal-unico .dropdown-menu > li .menu-secundario ul > li > a {
    clear: both;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: #2f575d;
    background-color: #ffffff;
}
.menu-principal-unico .dropdown-menu > li .menu-primario
{
    border-right: 1px solid #28363D;
}
.menu-principal-unico .dropdown-menu > li .menu-primario > ul {
    height: 423px;
}
.menu-principal-unico .dropdown-menu > li .menu-primario > ul > li > a {
    font-size: 16px;
    padding: 15px 8px;
}
.menu-principal-unico .dropdown-menu > li .menu-secundario ul > .divider
{
    background-color: #e5e5e5;
}
.menu-principal-unico .dropdown-menu > li .menu-secundario ul > li > .menu-header
{
    border-bottom: 1px solid #c4cdc1;
    color: #28363d;
}
.menu-principal-unico .dropdown-menu .menu-primario ul > li.open > a,
.menu-principal-unico .dropdown-menu .menu-primario ul > li:hover > a,
.menu-principal-unico .dropdown-menu .menu-primario ul > li:focus > a,
.menu-principal-unico .dropdown-menu .menu-secundario ul > li:hover > a:not([href="#"]),
.menu-principal-unico .dropdown-menu .menu-secundario ul > li:focus > a:not([href="#"]) {
  background-color: #6d9197;
  color: #fff;
}
.menu-principal-unico .dropdown-menu .menu-secundario ul > li > a[href="#"]
{
    cursor: default;
    font-weight: bold;
}
