﻿/* Extra Small */
@media (max-width: 767px)
{
}
/* Small */
@media (min-width: 768px) and (max-width: 991px)
{
}
/* Medium */
@media (min-width: 992px) and (max-width: 1199px)
{
}
/* Large */
@media (min-width: 1200px)
{
}

/**
  * Correção de comportamento do Bootstrap
  * https://github.com/twbs/bootstrap/issues/14272
  * http://stackoverflow.com/questions/24592969/boostrap-3-1-1-nav-bar-maximized-input-no-longer-maximized-in-3-2-0
  */

/* make sure input-group goes 100% i.e. full width of screen 
    to compliment the display: inline-table; that showed up in 3.2.0 */
.input-group
{
  width: 100%;
}
  /* override width: auto; that showed up in 3.2.0
    with at least 1px for the addon or btn (I had an addon) */
  .input-group .input-group-addon,
  .input-group .input-group-btn
  {
    width: 1px;
  }
  /* separate .form-control and give it width: 100%; */
  .input-group .form-control
  {
    width: 100%;
  }

/* make sure navbar-form's input-group goes 100% i.e. full width of screen 
    to compliment the display: inline-table; that showed up in 3.2.0 */
.navbar-form .input-group
{
  width: 100%;
}
/* override width: auto; that showed up in 3.2.0
  with at least 1px for the addon or btn (I had an addon) */
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn
{
  width: 1px;
}
/* separate .form-control and give it width: 100%; */
.navbar-form .input-group .form-control
{
  width: 100%;
}

/* Fix para o UI-WIDGET
 * 
 * Remove jquery ui css efenitions that conflict with Bootstrap
 */
.ui-widget {
    font-family: inherit !important;
    font-size: inherit !important;
}

/* Box-sizing resets
 *
 * Reset individual elements or override regions to avoid conflicts due to
 * global box model settings of Bootstrap.
 */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after
{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Custom Container Sizes
 * Fonte: https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know
 */
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
.container-small,
.container-large {
    max-width: 100%;
}

/* Utilizado para adicionar uma margem abaixo das rows */
.margin-bottom-row { margin-bottom: 15px; }

/*
 * Remove the Gutter Padding from Columns
 * Fonte: https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know
 */
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }

/*
 * Correçao de padding e margin
 */
.no-padding-top { padding-top: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-left { margin-left: 0; }
.no-margin-right { margin-right: 0; }
.no-margin-bottom { margin-bottom: 0; }

/* Elimina os cantos arredondados do bootstrap */
*
{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

/*
 * Estilos para a seleção de texto
 */
::selection
{
  color: #ffffff;
  text-shadow: none;
  background-color: #2f575d;
}
::-moz-selection
{
  color: #ffffff;
  text-shadow: none;
  background-color: #2f575d;
}

/* Sombra na parte externa de um elemento */
.sombreado
{
  -webkit-box-shadow: 0 0 8px -3px #000000;
  -moz-box-shadow: 0 0 8px -3px #000000;
  box-shadow: 0 0 8px -3px #000000;
}

/* ********************************************************* *
 *               Estilos especificos do GED
 * ********************************************************* */

/**
 * <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400italic,300,400,500"/>
 */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqeode0-EuMkY--TSyExeINg.woff2) format('woff2'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqdbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url(../fonts/Source_Code_Pro/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'),
    url(../fonts/Source_Code_Pro/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium')
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqUHj7CJK1I4bLnYZkMY-kd4.woff2) format('woff2'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqe_puumMoxhiakHfBfLgHWs.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqSOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqZ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqUo0As1BFRXtCDhS66znb_k.woff2) format('woff2'),
    url(../fonts/Source_Code_Pro/leqv3v-yTsJNC7nFznSMqVkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

body
{
  font-size: 14px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-family: "Open Sans","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;*/
  text-rendering: optimizelegibility;
  font-weight: lighter;
  background: url("/img/texturas/bg_transparent_1920w.png") no-repeat fixed center center #dee1dd;
}

/* Simulação de container-fluid nas divs mais
 * externas do layout, qndo a resolução for Extra Small & Small */
@media (max-width: 991px)
{
    #wrap, #page-header, #content, #page-footer {
        width: 100% !important;
    }
}

.form-control
{
  padding: 6px 5px;
}

.form-control:focus
{
  border-color: #658b6f;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(109, 145, 151, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(109, 145, 151, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(109, 145, 151, 0.6);
  outline: 0 none;
}

/**
 * Definiçoes de design do template geral
 */
.ged-banner {
    background-color: #99AEAD;
    max-height: 150px;
    width: 100%;
}
.mps-img, .holos-img {
    position: absolute;
    height: 100%;
    margin: 0 15px;
    padding: 15px 30px;
    top: 0;
}
.mps-img {
    left: 0;
    /* Fundo transparente na logo da mps */
    /*background-color: rgba(255, 255, 255, 0.58);
    border-top-right-radius: 30px 100px !important;
    border-bottom-right-radius: 30px 100px !important;*/
}
.mps-img > img {
    height: 130px;
}
.holos-img {
    right: 0;
}
.holos-img > img {
    height: 80px;
}

.mainMenu
{
  font-size: 9pt;
}

#wrap
{
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 19px -3px #000000;
  -moz-box-shadow: 0 0 19px -3px #000000;
  box-shadow: 0 0 19px -3px #000000;
}

#page-header, #page-header > div, #page-header > div > div
{
  margin: 0;
  padding: 0;
}

#page-footer
{
  background-color: #F1F1F1;
  border-top: 1px solid #707070;
  padding: 8px;
}
@media (max-width: 767px)
{
    #page-footer {
        padding: 0.3em 0;
    }
    #page-footer p {
        font-size: 85%;
        margin-bottom: 0;
    }
}

/*
.main
{
  background: linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
  background: -moz-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
  background: -o-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
  background: -webkit-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
  min-height: 435px;
  padding: 10px 30px 0 !important;
  z-index: 1;
}

.main:after
{
  background-color: white;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: -1;
}
*/

h3
{
  background-color: #DEE1DD;
  border: 1px solid #C4CDC1;
  margin: 0 0 10px;
  padding: 5px;
}

.navInfo
{
  font-size: 11px;
  padding: 3px 0;
}
.navInfo .path
{
  padding-bottom: 8px;
  padding-top: 8px;
}

.pageContent
{
  margin-bottom: 15px;
}

.mps-12x {
  font-size: 12em;
}

.mps-stack-1halfx {
    font-size: 1.5em;
}

.mps-stack-custom-bottomright,
.mps-stack-custom-topright {
    color: #858585;
    font-size: 85%;
    padding: 1px;
    position: relative;
    z-index: 2;
}
.mps-stack-custom-bottomright {
    left: 4px;
    top: 0.3em;
}
.mps-stack-custom-topright {
    top: -10px;
    left: 1em;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: auto; /* Permitir ações de hover sobre botões desabilitados */
}
