﻿<template id="processo-template">
    <div class="row no-margin-right no-margin-left">
        <div class="col-md-6 no-padding-right no-padding-left">
            <table class="card first-col-border first-col-right no-border no-bottom-margin table table-condensed table-striped">
        <thead>
           <tr>
            <th class="text-center" colspan="2">Informações Gerais</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:120px;">
              <label>Número</label></td>
            <td>{{Numero}}</td>
          </tr>
          <tr>
            <td>
              <label>Data autuação</label></td>
            <td>{{DataAutuacao}}</td>
          </tr>
          <tr>
            <td>
              <label>Assunto</label></td>
            <td>{{Assunto}}</td>
          </tr>
          <tr>
            <td>
              <label>Local atual</label></td>
            <td>{{LocalAtual}}</td>
          </tr>
          <tr>
            <td>
              <label>Situaçao</label></td>
            <td>{{Situacao}}</td>
          </tr>
          <tr>
            <td>
              <label>Observações</label></td>
            <td>{{Observacao}}</td>
          </tr>
          <tr>
            <td>
              <label>Indicativos</label></td>
            <td>
                <ul class="list-inline">
                    <li class="Urgente">
                        <input type="image" src="../../../img/indicativos/urgente.png" ID="docUrgenteButton" data-toggle="popover" causesvalidation="false" onclick="return false;" data-content="Documento Urgente">
                    </li>

                    <li class="Impedimentos">
                        <input type="image"  src="../../../img/indicativos/impedimento.png" ID="impeditivosButton" data-toggle="popover" title="Documento possui impedimento" causesvalidation="false" onclick="return false;" data-content="DataContentImpeditivos">
                    </li>

                    <li class="Avisos">
                        <input type="image" src="../../../img/indicativos/avisos.png" ID="avisosButton" data-toggle="popover" title="Avisos" causesvalidation="false" onclick="return false;" data-content="DataContentAvisos">
                    </li>

                    <li class="Virtual">
                        <input type="image" src="../../../img/indicativos/virtual.png" ID="docVirtualButton" data-toggle="popover" onclick="return false;" data-content="Documento Virtual">
                    </li>

                    <li class="Prazo">
                        <input type="image" src="../../../img/indicativos/prazo.png" ID="prazosDocButton" data-toggle="popover" title="Documento possui prazo" onclick="return false;" data-content="DataContentPrazos">
                    </li>

                    <li class="Lembretes">
                        <input type="image" src="../../../img/indicativos/lembrete.png" ID="lembretesDocButton" data-toggle="popover" title="Lembretes" onclick="return false;" data-content="DataContentLembretes">
                    </li>

                    <li class="Sigiloso">
                        <input type="image" src="../../../img/indicativos/sigiloso.png"  ID="docSigilosoButton" data-toggle="popover" onclick="return false;" data-content="Documento sigiloso">
                    </li>
                </ul>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    <div class="col-md-6 no-padding-right no-padding-left">
      <table class="card no-full-border no-bottom-margin table table-condensed table-striped">
        <thead>
           <tr>
            <th style="width:120px;">Qualificação</th>
             <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr class="linha-interessado">
            <td>{{Qualificacao}}</td>
            <td>{{Nome}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</template>
