.menuAtalhos ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 10px;
}
.menuAtalhos li {
	padding: 5px;
}
.menuAtalhos img {
	margin-right: 5px;
}
#menusContainer {
	/* Prevent Text Selection */
	-ms-user-select: none; /* MS IE 10 */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
}
.mainMenu {
	float: left;
	width: 90%;
}
.botaoAtalhos {
	float: right;
	width: 10%;
	margin: 0;
	text-align: center;
	padding: 0;
}
.linkAtalhos {
	font-size: 8pt;
	font-weight: bold;
	background: none repeat scroll 0 0 #2f575d; /* Talves fique bom #658B6F */
	height: 100%;
	margin: 0;
	padding: 0.23em 0;
	color:White;
	line-height: 1.42;
}
.linkAtalhos:hover {
	background-color: #6D9197;
	font-weight: bold;
	cursor: pointer;
}
.menuAtalhos {
	display: none;
	
	z-index: 2;
	
	text-align: left;
	background: linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
	background: -moz-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
	background: -o-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
	background: -webkit-linear-gradient(to bottom, rgba(156, 156, 156, 0.54), rgba(167, 167, 167, 0.47), rgba(255, 254, 254, 0)) repeat scroll 0 0 #fffefe;
	border: 1px solid #C3C3C3;
	padding: 5px;
	padding-top: 0;
	margin-right: 15px;
	height: 450px;
	max-height: 450px;
	overflow: auto;
	position: absolute;
	right: 0;
	width: 31%;
}
.menuAtalhosContent {
	background: #FFFFFF;
}
/* Inclui uma sombra no menu de atalhos */
.menuAtalhos {
	-moz-box-shadow: -5px 5px 8px 0px #C0C0C0;
	-webkit-box-shadow: -5px 5px 8px 0px #C0C0C0;
	box-shadow: -5px 5px 8px 0px #C0C0C0;
	  
	/* O site fica realmente lento, qundo estes filtros sao aplicados! Nao use!!! */
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-150, Color='#C0C0C0')"; /* For IE 8 */
	/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-150, Color='#C0C0C0'); /* For IE 5.5 - 7 */
}