﻿/* Medidas temporarias - Remover depois */
.ajax__tab_xp .ajax__tab_header .ajax__tab_tab
{
  height: auto !important;
}

/* ********************************************************* *
 *                  Estilos de componentes
 * ********************************************************* */

/* Correção no padding das listas ordenadas dentro de popovers */
.popover-title,
.popover-content {
    color: #2F575D;
}
.popover-content ol {
    padding-left: 20px;
}

/* Usado para os marcadores que endicam os filtros selecionados em uma pesquisa */
.filtros-pesquisa .btn .close {
    border-left: 1px solid #454545;
    float: none;
    font-size: 14px;
    padding: 0 0 0 12px;
    margin-left: 5px;
}

/**
 * Componente Card
 * Estilos para o Componente Card de exibição de Documentos
 */
.card
{
    background-color: #ffffff !important;
    font-size: 12px;
    line-height: 1;
}

.card > thead,
.card > tbody
{
    border: 1px solid #2f575d;
}

.card.no-border > thead,
.card.no-border > tbody,
.card.no-full-border > thead,
.card.no-full-border > tbody
{
    border: none;
}

.card.no-full-border > thead > tr > th,
.card.no-full-border > tbody > tr > th,
.card.no-full-border > tfoot > tr > th,
.card.no-full-border > thead > tr > td,
.card.no-full-border > tbody > tr > td,
.card.no-full-border > tfoot > tr > td
{
    border: none;
}

.card.full-border > thead > tr > th,
.card.full-border > tbody > tr > th,
.card.full-border > tfoot > tr > th,
.card.full-border > thead > tr > td,
.card.full-border > tbody > tr > td,
.card.full-border > tfoot > tr > td
{
    border: 1px solid #2f575d;
}

.card.no-bottom-margin
{
    margin-bottom: 0;
}

.table > thead > tr > th
{
    border: none;
}

.card > thead > tr > th
{
    color: #ffffff;
    background-color: #658b6f;
}

.card thead tr th a
{
    color: #ffffff;
}

.card thead tr th a:hover,
.card thead tr td a:hover
{
    color: #28363d;
}

.card.first-col-border tr th:first-child
{
    border-right: 1px solid #ffffff;
}

.card.first-col-border tr td:first-child
{
    border-right: 1px solid #2f575d;
}

.card.first-col-right tr th:first-child:not([colspan="2"]),
.card.first-col-right tr td:first-child
{
    text-align: right;
}

.card > thead > tr > th > label,
.card > tbody > tr > th > label,
.card > tfoot > tr > th > label,
.card > thead > tr > td > label,
.card > tbody > tr > td > label,
.card > tfoot > tr > td > label
{
    margin-bottom: 0;
}

.card > thead > tr > th,
.card > tbody > tr > th,
.card > tfoot > tr > th,
.card > thead > tr > td,
.card > tbody > tr > td,
.card > tfoot > tr > td
{
    border-top: none;
    vertical-align: middle;
    line-height: 1;
}

.card tr td .linha
{
    display: table-row;
}

.card tr td .celula
{
    display: table-cell;
    padding: 2px;
}

/**
 * Componente Toolbar
 * Estilos para a Toolbar do GED
 */
.toolbar > .btn
{
    color: #658b6f;
    height: 64px;
    width: 72px;
}

.glyphicon.fa-3x
{
  font-size: 30px;
}

/**
 * Componente Tabs
 * Estilos para o Controle de Tabs do Bootstrap
 */
.tabs-controller .tab-content
{
	border-left: 1px solid #2f575d;
}
.tabs-controller.no-border .tab-content
{
	border: none;
}
.tabs-controller .tab-list li
{
	font-weight: bold;
}

.tabs-controller .tab-list li.disabled
{
	font-weight: normal;
}

.tabs-controller .tab-list li a
{
	min-height: 50px;
	padding: 20px 15px;
}

.tabs-controller .tab-content .tab-pane
{
	padding: 15px 5px;
}

.tabs-controller .wizard
{
	margin: 0;
	float: right;
}

.tabs-controller .wizard li
{
	padding-right: 5px;
}

.tabs-controller .wizard li .btn
{
	width: 100px;
}

/**
 * Componente Splitter
 * Estilos para o Splitter Javascript
 */
.ui-state-default {
  background-color: #aaa;
}
.ui-state-hover {
  background-color: #da8;
}
.ui-state-highlight {
  background-color: #add;
}
.ui-state-error {
  background-color: #eaa;
}
.splitter {
	border: none;
	background: none repeat scroll 0 0 #ffffff;
}    
.splitter .splitter-pane {
	border: none;
	padding: 0;
}
.splitter-bar {
	background-color: #DEE1DD !important;
	text-align: center;
	/* Prevent Text Selection */
	-ms-user-select: none; /* MS IE 10 */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
}
.splitter-bar:hover {
  background-color: #C4CDC1 !important;
  text-decoration: underline;
}
.splitter-bar-horizontal,
.splitter-bar-horizontal-docked {
  background-image: url("/img/hgrabber.gif") !important;
  background-repeat: no-repeat !important;
	background-position: center !important;
  height: 12px;
}
.splitter-bar-horizontal-docked {
  background-image: url("/img/hdockbar-trans.gif") !important;
}
.splitter-bar-vertical,
.splitter-bar-vertical-docked {
  background-image: url("/img/vgrabber.gif") !important;
  background-repeat: no-repeat !important;
	background-position: center !important;
  width: 12px;
}
.splitter-bar-vertical-docked {
  background-image: url("/img/vdockbar-trans.gif") !important;
}
.splitter-bar.ui-state-highlight {
	opacity: 0.7;
	background-color: #da8;
}
.splitter-iframe-hide {
	visibility: hidden;
}

/* 
 * MPS.GED.WebSite.Controles.DocumentViewer
 * Componente Splitter usado para a exibição do PDF do documento
 */


/**
 * Layout das Modais Antigas do GED
 * Modais AjaxToolkit e Modais com Iframe
 */
.modalPopup
{
  border: 1px solid #28363D;
  background-color: #fff;
  left: 355.5px;
  top: -147.5px;
  position: fixed;
  -webkit-box-shadow: 0 0 19px -3px #000000;
  -moz-box-shadow: 0 0 19px -3px #000000;
  box-shadow: 0 0 19px -3px #000000;
}

.modalPopup .modalContent .modalHeader
{
  color: #fff;
  background-color: #2F575D;
  padding: 2px 5px;
  height: 26px;
}

.modalPopup .modalContent .modalHeader a
{
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.modalPopup .modalContent .modalBody
{
  padding-top: 5px;
  padding-bottom: 5px;
}

/**
 * Layout das Modais que abrem iframes
 */
#JanelaModal
{
  height: 450px;
  width: 550px;
  z-index: 2147483647;
  position: absolute;
  left: 450px;
  top: 100px;
}

#JanelaModal iframe
{
  min-height: 380px;
  width: 100%;
}

/**
 * Layer de background das modais
 */
.modalBackground,
#backgroundOverJanelaModal,
#backgroundJanelaModal
{
  background: none repeat scroll 0 0 #333333;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.45;
  position: fixed;
  width: 100%;
  border: 0 none;
  margin: 0;
  padding: 0;
  z-index: 5;
}

#backgroundOverJanelaModal,
#backgroundJanelaModal
{
  display: none;
}

/**
 * Layout das Modais Bootstrap
 * Esse bloco modifica a forma como as modais
 * Bootstrap sao renderizadas
 */
.modal
{
  /* Necessario para evitar que a Bootstrap Modal
   * nao fique obstruida pela AjaxToolkitModal */
  z-index: 100400;
}
.modal-content
{
  border: 1px solid #28363D;
  background-color: #fff;
  -webkit-box-shadow: 0 0 19px -3px #000000;
  -moz-box-shadow: 0 0 19px -3px #000000;
  box-shadow: 0 0 19px -3px #000000;
}

.modal-content .modal-header
{
  background-color: #2f575d;
  color: #fff;
  padding: 2px 5px;
}

.modal-content .modal-header button
{
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.modal-content .modal-body
{
    overflow-y: auto;
    max-height: 580px; /* Todas as modais possuem um tamanho maximo */
}

.modal-content .modal-footer
{
}

.modal-backdrop
{
}

@media (min-width: 1200px)
{
  .modal-xl
  {
    width: 1145px;
  }
}

body.modal-open-noscroll
{
  margin-right: 0 !important;
  overflow: hidden;
}

.modal-open-noscroll .navbar-fixed-top,
.modal-open .navbar-fixed-bottom
{
  margin-right: 0 !important;
}

/**
 * MPS.Utilitarios.Controles.Grid
 * Reduz a margem da grid para aproximar os controles
 * de navegaçao da tabela
 */
.grid-toolbar
{
  margin-bottom: 5px;
}
.grid-toolbar a
{
  color: #658b6f;
}
.grid-header
{
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0;
  background-color: #2f575d;
  text-align: center;
}
.grid
{
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1;
}
/* Estilo para a grid quando ela nao possuir registros */
.grid-vazia {
    clear: left;
    padding-top: 5px;
}
/* forçamos uma coluna a ter uma largura que se ajuste ao conteudo */
.grid .minimal-width
{
  width: 1%;
  white-space: nowrap; /* Fonte: http://stackoverflow.com/questions/11267154/fit-cell-width-to-content */
}
/* Botoes de açao da grid */
.grid .btn-action
{
  padding: 0;
}
.grid .alert
{
  margin-bottom: 0;
}
.grid > thead > tr
{
  background-color: #6D9197;
  border-bottom: 2px solid #2f575d;
}
.grid > thead > tr > th,
.grid > thead > tr > th > a
{
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.grid > tbody > tr > td {
    vertical-align: middle;
}
.grid.table-condensed > thead > tr > th,
.grid.table-condensed > tbody > tr > th,
.grid.table-condensed > tfoot > tr > th
{
  padding: 5px;
  line-height: 1;
}
.grid.table-condensed > thead > tr > td,
.grid.table-condensed > tbody > tr > td,
.grid.table-condensed > tfoot > tr > td
{
  padding: 2px 5px;
}
.grid.no-border > thead,
.grid.no-border > tbody,
.grid.no-full-border > thead,
.grid.no-full-border > tbody
{
    border: none;
}

.grid.no-full-border > thead > tr > th,
.grid.no-full-border > tbody > tr > th,
.grid.no-full-border > tfoot > tr > th,
.grid.no-full-border > thead > tr > td,
.grid.no-full-border > tbody > tr > td,
.grid.no-full-border > tfoot > tr > td
{
    border: none;
}

.grid.full-border > thead > tr > th,
.grid.full-border > tbody > tr > th,
.grid.full-border > tfoot > tr > th,
.grid.full-border > thead > tr > td,
.grid.full-border > tbody > tr > td,
.grid.full-border > tfoot > tr > td
{
    border: 1px solid #2f575d;
}
/* Paginação da grid - informaçoes de consulta */
.go-to-page {
    display: inline-block;
    height: 1.7em;
    padding: 0;
    text-align: center;
    width: 2.5em;
    vertical-align: bottom;
}
.PagePager {
    text-align: right;
}
@media (max-width: 767px)
{
    .PageCounter, .PagePager {
        text-align: center;
    }
}
.infoconsulta {
    cursor: pointer;
}

/**
 * Grid DetailsView
 */
.detailsgrid > thead > tr > th,
.detailsgrid > tbody > tr > td
{
  vertical-align: middle;
}
.detailsgrid > tbody > tr.HeaderStyle
{
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #6d9197;
  border-bottom: 2px solid #2f575d;
}

/* ********************************************************* *
 *            Estilos de elementos especificos
 * ********************************************************* */

/**
 * MPS.GED.WebSite.Paginas.Documentos.Cadastro.AutuacaoProcesso
 * Tamanho do card que resume o documento em edicao
 */
.card-resumo-edicao-documento {
    width: 50%;
}
/* Tamanho dos paineis do Wizard */
.wizard-processo .tab-content .tab-pane {
    min-height: 400px;
}

/**
 * Bootstrap Switch
 * Modificaçao no tamanho da fonte do switch pequeno para alinhar
 *  com os demais botoes do Bootstrap
 */
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    font-size: 11px;
}
.icon 
{
  padding: 2px 5px 1px 5px;
	margin: 2px;
}

/**
 * MPS.GED.WebSite.GEDBootstrap
 * Modal troca de local fisico
 */
#divScrollUnidades
{
  height: 400px;
  margin-bottom: 10px;
  overflow: auto;
}
#divScrollUnidades table tbody tr th,
#divScrollUnidades table tbody tr td
{
  text-align: center;
}

/**
 * Usado em diversos controles onde um calendario aparece proximo a outro na mesma linha
 * o separador costuma ser um texto: "a", "até"
 * duas versoes: uma para calendarios com label e outra para calendarios sem label
 */
.separador-calendarios
{
  margin-top: 28px;

  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.separador-calendarios-nolabel
{
  margin-top: 5px;

  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
}

/**
 * Usado para reduzir o espaço entro dois componentes
 * Mais especificamente, entre form-controls que ocupam uma mesma linha
 */
.minimal-padding-left { padding-left: 1px; }
.minimal-padding-right { padding-right: 1px; }

/**
 * MPS.GED.WebSite.Controles.DetalheBuscaPessoa
 */
.cadastrarLinkButton
{
  padding-left: 0;
  line-height: 2.55;
}

/**
 * Fieldsets definidos por uma box em volta
 */
fieldset.boxed
{
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
fieldset.boxed legend
{
    font-size: 1.2em;
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    margin: 0;
}

/**
 * MPS.GED.WebSite.Controles.DetalheLocalFisicoContato
 */
.actionfield
{
    padding-top: 22px;
    text-align: center;
}
.inputfield
{
    padding-top: 10px;
}

/**
 * MPS.GED.WebSite.Paginas.TabelasBasicas.Movimentacao.CadastroTipoTramite
 */
.enviolocalexternospan
{
    display: inline-block;
}

/**
 * Usado para colocar um título nas GridViews imitando o estilo do título das Grids
 */
.fake-gridview-header
{
    background-color: #6d9197;
    border-bottom: 2px solid #2f575d;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 6px;
}

/**
 * MPS.GED.WebSite.Paginas.Movimentacao.Guia.PesquisaGuiaRemessa
 */
#MovPendentesScroll
{
    max-height: 300px;
    margin-bottom: 8px;
    overflow-x: auto;
}

/**
  * Toogle Details no controle de Grid
  */
.toggle-details
{
  width: 1px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.toggle-details:hover
{
  background-color:#C4CDC1;
  font-weight: bold;
}
.row-details-open > td
{
    color: #28363D;
    background-color: #C4CDC1;
}
.row-detail > td
{
  padding: 0 !important;
}
.row-detail .row-detail-container
{
  border-left: 5px solid #2f575d;
}

.order-link:hover
{
  color: #DEE1DD;
  cursor: pointer;
}
.order-link:after {
  font-family: "FontAwesome";
  display: inline-block;
  float: right;
  padding-left: 5px;
}
.order-link:after {
  content: "\f0dc"; /* .fa-sort */
}
.order-link.order-asc:after {
  content: "\f0de"; /* .fa-sort-asc */
}
.order-link.order-desc:after {
  content: "\f0dd"; /* .fa-sort-desc */
}

/**
 * MPS.GED.WebSite.Paginas.Movimentacao.PesquisaCadastroLembrete
 */
.DivGridScroll
{
    max-height: 300px;
    overflow-y: auto;
}

/**
 * MPS.GED.WebSite.Paginas.Documentos.Pesquisa.PesquisaPeca
 */
.DivGridResumoScroll
{
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}