.hideHeader {
	background-color: #C0C0C0;
	text-align: center;
	font-size: 3px;
	padding: 0 0 3px;
	margin: 0;
	width: 100%;
	display: table;
	/* Prevent Text Selection */
	-ms-user-select: none; /* MS IE 10 */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
}
.hideHeader:hover {
	background-color: #D0D0D0;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}